        {{if .Params.img1_coords1}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords1}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link1}}">
        </div>
        {{end}}
        {{if .Params.img1_coords2}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords2}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link2}}">
        </div>
        {{end}}
        {{if .Params.img1_coords3}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords3}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link3}}">
        </div>
        {{end}}
        {{if .Params.img1_coords4}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords4}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link4}}">
        </div>
        {{end}}
        {{if .Params.img1_coords5}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords5}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link5}}">
        </div>
        {{end}}
        {{if .Params.img1_coords6}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords6}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link6}}">
        </div>
        {{end}}
        {{if .Params.img1_coords7}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords7}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link7}}">
        </div>
        {{end}}
        {{if .Params.img1_coords8}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img1_coords8}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link8}}">
        </div>
        {{end}}