        {{if .Params.img1_coords1}}
        <area shape="rect" coords="{{.Params.img1_coords1}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link1}}">{{end}}
        {{if .Params.img1_coords2}}
        <area shape="rect" coords="{{.Params.img1_coords2}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link2}}">{{end}}
        {{if .Params.img1_coords3}}
        <area shape="rect" coords="{{.Params.img1_coords3}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link3}}">{{end}}
        {{if .Params.img1_coords4}}
        <area shape="rect" coords="{{.Params.img1_coords4}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link4}}">{{end}}
        {{if .Params.img1_coords5}}
        <area shape="rect" coords="{{.Params.img1_coords5}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link5}}">{{end}}
        {{if .Params.img1_coords6}}
        <area shape="rect" coords="{{.Params.img1_coords6}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link6}}">{{end}}
        {{if .Params.img1_coords7}}
        <area shape="rect" coords="{{.Params.img1_coords7}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link7}}">{{end}}
        {{if .Params.img1_coords8}}
        <area shape="rect" coords="{{.Params.img1_coords8}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link8}}">{{end}}
        {{if .Params.img1_coords9}}
        <area shape="rect" coords="{{.Params.img1_coords9}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link9}}">{{end}}
        {{if .Params.img1_coords10}}
        <area shape="rect" coords="{{.Params.img1_coords10}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link10}}">{{end}}
        {{if .Params.img1_coords11}}
        <area shape="rect" coords="{{.Params.img1_coords11}}" href="https://vhminhquan.github.io/guide{{.Params.img1_link11}}">{{end}}
