		{{if .Params.img3_coords1}}
        <area shape="rect" coords="{{.Params.img3_coords1}}" href="https://vhminhquan.github.io/guide{{.Params.img3_link1}}">{{end}}
        {{if .Params.img3_coords2}}
        <area shape="rect" coords="{{.Params.img3_coords2}}" href="https://vhminhquan.github.io/guide{{.Params.img3_link2}}">{{end}}
        {{if .Params.img3_coords3}}
        <area shape="rect" coords="{{.Params.img3_coords3}}" href="https://vhminhquan.github.io/guide{{.Params.img3_link3}}">{{end}}
        {{if .Params.img3_coords4}}
        <area shape="rect" coords="{{.Params.img3_coords4}}" href="https://vhminhquan.github.io/guide{{.Params.img3_link4}}">{{end}}
        {{if .Params.img3_coords5}}
        <area shape="rect" coords="{{.Params.img3_coords5}}" href="https://vhminhquan.github.io/guide{{.Params.img3_link5}}">{{end}}
