        {{if .Params.img4_coords1}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img4_coords1}}" href="https://vhminhquan.github.io/guide{{.Params.img4_link1}}">{{end}}
        </div>
        {{if .Params.img4_coords2}}
        <div class="w3-panel w3-border">
        <area shape="rect" coords="{{.Params.img4_coords2}}" href="https://vhminhquan.github.io/guide{{.Params.img4_link2}}">{{end}}
        </div>
        {{if .Params.img4_coords3}}
        <area shape="rect" coords="{{.Params.img4_coords3}}" href="https://vhminhquan.github.io/guide{{.Params.img4_link3}}">{{end}}
        {{if .Params.img4_coords4}}
        <area shape="rect" coords="{{.Params.img4_coords4}}" href="https://vhminhquan.github.io/guide{{.Params.img4_link4}}">{{end}}
        {{if .Params.img4_coords5}}
        <area shape="rect" coords="{{.Params.img4_coords5}}" href="https://vhminhquan.github.io/guide{{.Params.img4_link5}}">{{end}}